ul{
    width: 250px;
    outline: 1px solid red;
}

li{
    margin: 10px 0;
}

li:first-child{
    padding-top: 20px;
}

ul.one{
    list-style-position: outside;
}

ul.two{
    list-style-position: inside;
}